<div class="container" ng-controller="CartCtrl as crtct" ng-cloak>
    <div class="row">
        <h1>Cart</h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p> Order Number: {{crtct.message.ordNumb}}</p>
            <form ng-cloak>

                <div class="row">
                   <div class="col-sm-4"><button type="button" class="btn btn-primary" ng-click="go('/registration')"> More Attendees </button></div>
                   <div class="col-sm-4">You have {{ getTotalNumAtnd() }} attendees </div>
                   <div class="col-sm-4"><button type="button" class="btn btn-primary"> Cancel </button></div>   
                </div>


                <div class="row">
                    <div ng-repeat="row in crtct.datarows">
                        <div class="col-sm-8">
                            <p>{{row.prodDesc}}</p>
                            <p>{{row.prodNumb}}</p>
                            <p>Paid: {{row.paidAmt}} of {{row.owedAmt}}</p>
                        </div>


                        <div class="col-sm-4">
                            <button type="button" class="btn btn-default btn-sm" ng-click="removeRow(row)">
                                <!-- <span class="glyphicon glyphicon-remove"></span> -->Remove
                            </button>
                            <p>Balance is {{row.balAmt}}</p>
                        </div>
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <label for="full">
                        <input type="radio" ng-model="value" id="full" name="fuordo" value="ford" checked="checked"> Full
                    </label>

                    <label for="down">
                        <input type="radio" ng-model="value" id="down" name="fuordo" value="down"> Down
                    </label>
                    <p> Total {{ getTotal() }} </p>
                </div>
                
                <div class="row">
                    
                        <button type="button" class="btn btn-primary" ng-click="go('/registration')"> More Attendees </button>
                    
                    
                        <button type="button" class="btn btn-primary" ng-click="go('/payment')"> Check Out </button>
                    
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="row">
                <p> Your cart total
                    <br/> {{ getTotal() }} </p>
                <p> {{ value }} </p>
            </div>
            <div class="row">
                <p> <b> Questions? </b> </p>
                <p> If you have questions about your purchase, or any other issues, please visit </p>
            </div>
        </div>
    </div>
</div>