<div class="container" ng-controller="HomeCtrl">
    <h1> Start a New Registration </h1>
    <!--only one group, display the type-->
    <div ng-if="strt.length == 1">
       <h3>{{strt[0].g_class}}</h3>
        <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="(key, type) in strt[0].lst">
                <div class="thumbnail">
                    <div class="btn btn-success btn-lg btn-block" ng-click="register(key)">
                        <h4>{{type}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--more than one group-->
    <div ng-if="strt.length > 1">
        <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="class in strt">
                <div class="thumbnail">
                    <div class="btn btn-info btn-lg btn-block" ng-click="choose(class)" ng-class="{true: 'btn-primary', false: 'btn-warning'}[!(click==class.g_class)]">
                        <h3>{{class.g_class}}</h3>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="(key, type) in chosen.lst">
                <div class="thumbnail">
                    <div class="btn btn-success btn-lg btn-block" ng-click="register(key)">
                        <h4>{{type}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--list of events for a user-->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th ng-repeat="(key, val) in list[0]">{{key | uppercase}}</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="event in list">
                    <td ng-repeat="(key, val) in event">{{val}}</td>
                    <td>
                        <button class="btn btn-warning">
                            <i class="fa fa-pencil fa-lg"></i> edit
                        </button>

                        <button class="btn btn-danger">
                            <i class="fa fa-times fa-lg"></i> cancel
                        </button>

                        <button class="btn btn-info">
                            <i class="fa fa-eye fa-lg"></i> view
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <pre>{{list | json}}</pre>
</div>